/*
    RESET basico
*/

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}

/* BASE PARA O FLEX */
.container {
    width: 100%;
    max-width: 1440px;
    height: 1024px;
    font-size: 16px;
}
/* BASE PARA O FLEX */

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cabecalho h1 {
    background-color: #d9d9d9;
    text-align: center;
    width: 280px;
    height: 200px;
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-style: normal;
    font-size: 3.125em;
    padding: 5% 0;
}
